@charset "UTF-8";

h1 {
	background-color: darkgreen;
	font-family: cursive;
}

body {
	color: white;
	background-image: url("https://wallpaperlayer.com/img/2015/10/christmas-ornaments-wallpaper-8562-8888-hd-wallpapers.jpg");
	background-position: center;
	
}

.nextPageLink {
	color: yellow;
}

a {
	color: yellow;
	font-family: cursive;
	font-size: 1.5em;
 
}

a:hover {
	background-color: white;
    color: darkgreen;
}




