@charset "UTF-8";

h1 {
	background-color: darkgreen;
	font-family: cursive;
}

body {
	color: white;
	background-image: url("http://www.wikihow.com/images/b/b1/1080-Tailgrab-on-a-Tech-Deck-Step-4.jpg");
	background-repeat: no repeat;
	background-size: 500px;
	background-position: center;
	
	

}


#xyz {
	
	background-color: darkred;
	
}

img {
	position: fixed;
	padding: 10px;
	
}